@import '../../styles.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-okaidia.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/plugins/line-numbers/prism-line-numbers.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/plugins/line-highlight/prism-line-highlight.min.css';

:host { 
	color: $accent-500;
	margin-top: 5em;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px 10px;
	border: 1px solid $accent-500;
	display: block;
}
