<div class="menu-container">
	<button mat-button color="menu" routerLink="/">
		<strong>{{Title}}</strong>
	</button>
	<button mat-button color="menu" routerLink="/tech">
		Tech Tutorials
	</button>
	<button mat-button color="menu" routerLink="/about">
		About
	</button>
</div>
