@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat-core();

@import '../../styles.scss';

/* 
some strange color usage in this file - should not have upgraded angular
https://github.com/angular/components/issues/26056
*/

:root {
	--button-foreground: $accent-500;
}

.menu-container {
	background-color: mat-color($primary);
	width: 100%;
	--mdc-text-button-label-text-color: var(--button-foreground, $accent-500);
	color: mat-color($primary, 500-contrast);
}

.mat-menu {
	background-color: mat-color($primary);
	border-radius: inherit;
}

.mat-menu strong {
	text-transform: uppercase;
}
