/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat.core();

@import 'assets/theme', 'assets/markdown';


$primary: mat.define-palette($md-primary, 500, 50, 900);
$accent: mat.define-palette($md-accent, 500, 50, 900);

$my-theme: mat.define-light-theme((
	color: (
		primary: $primary,
		accent: $accent
	),
	typography: mat.define-typography-config(),
	density: 0,
));

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);


body {
	height: 100%;
	background-color: $page-background;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
	text-decoration-style: dotted;
}
a:link, a:visited{
	color: mat-color($accent, A200);
}
a:hover, a:active {
	color: mat-color($accent, A400);
}

@for $i from 1 through 6 {
	h#{$i} > a:link,
	h#{$i} > a:visited {
		color: mat-color($primary, 500-contrast);
		text-decoration: none;
	}

	h#{$i} > a:hover,
	h#{$i} > a:active {
		color: mat-color($accent, 300);
		text-decoration: none;
	}
}
